@use "base";

.main {
    background-color: base.$light-secondary;

    .leftSide {
        .toolbar {
            background-color: base.$light-primary;
            padding: 0.5rem;
            border-radius: 15px;

            .tool {
                min-width: 4rem;
                aspect-ratio: 1/1;
                padding: 0.2rem;

                .clickable {
                    background-color: transparent;
                    border-radius: 15px;

                    transition: background-color 0.3s;

                    &:hover {
                        background-color: base.$light-primary-darker;
                    }

                    &.selected {
                        background-color: base.$light-secondary;
                    }

                    &:active {
                        background-color: base.$light-secondary-darker;
                    }
                }
            }
        }
    }

    .paletteItem {
        width: 100%;
        aspect-ratio: 1/1;
    }
}
